 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>Menitia IT consulting is a young but fastly evolving international firm with a strong passion for professionalism and technology. Within that past two years of operation, we have proven to our loyal customers that we are reliable, trustworthy, and supportive.</p>
                </div>                
            </div>
        </div>
    </section>