 <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What We Do</h2>
                    <hr class="wwd">
                </div>
            </div>
            <div class="row wwd">
                <div class="col-lg-4">
                <div class="icon text-danger">
					<i class="material-icons">layers</i>
				</div>
                <h3>Computing Systems</h3>
                    <p>The increasing amount of data usually processed centrally now moves to the edge in a distributed computing model. This drives more attention to the capabilities of your underline computing platform to handle more challenging workloads.</p>
                    <a href="#" class="btn btn-lg btn-outline">
                        Read More
                    </a>
                </div>
                <div class="col-lg-4">
                <div class="icon text-danger">
					<i class="material-icons">router</i>
				</div>
                <h3>IT-Infrastructure</h3>
                    <p>Traditional IT infrastructure comprised of system and operation silos. The focus now is on converged infrastructure (CI), hyper-converged infrastructure (HCI), and software defined environments that consolidate compute, networking, and storage.</p>
                    <a href="#" class="btn btn-lg btn-outline">
                        Read More
                    </a>
                </div>
                <div class="col-lg-4">
                <div class="icon text-danger">
					<i class="material-icons">assessment</i>
				</div>
                <h3>SEO/Marketing</h3>
                    <p>Contents are positioned in the right places and time to target a specific audience. With SEO marketing you don't just rely on social media and email, but utilize compelling keywords that improve your ranking and listings on top search engines mostly Google.</p>
                    <a href="#" class="btn btn-lg btn-outline">
                        Read More
                    </a>
                </div>
                
            </div>
            <div class="row wwd">
                <div class="col-lg-4">
                <div class="icon text-danger">
					<i class="material-icons">web</i>
				</div>
                <h3>Web Design</h3>
                    <p>Web development is often driven by digital transformation to solve business goals and objectives. A simple website is more convenient and it's a less expensive means of presenting business offerings faster to prospective customers within minutes.</p>
                    <a href="#" class="btn btn-lg btn-outline">
                        Read More
                    </a>
                </div>
                <div class="col-lg-4">
                <div class="icon text-danger">
					<i class="material-icons">text_format</i>
				</div>
                <h3>Content Writing</h3>
                    <p>Web applications are often driven by digital transformation to solve business goals and objectives. A simple website is more convenient and it's a less expensive means of presenting business offerings faster to prospective customers within minutes.</p>
                    <a href="#" class="btn btn-lg btn-outline">
                        Read More
                    </a>
                </div>
                <div class="col-lg-4">
                <div class="icon text-danger">
					<i class="material-icons">apps</i>
				</div>
                <h3>Apps</h3>
                    <p>Web applications are often driven by digital transformation to solve business goals and objectives. A simple website is more convenient and it's a less expensive means of presenting business offerings faster to prospective customers within minutes.</p>
                    <a href="#" class="btn btn-lg btn-outline">
                        Read More
                    </a>
                </div>                
            </div>
        </div>
    </section>